Importando Bibliotecas

In [1]:
import pandas as pd # pandas clássico!
import glob # para importar csv de forma massiva

Importando Dados - Empréstimos

In [2]:
# Importanto dados de empréstimo

path = '.\dataset\dados_emprestimos\*.csv' # Caminho dos arquivos csv

csv_files = glob.glob(path) # Scan de todos os csvs

df_emprestimo = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True) # Transformando em Dataframe

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\corre\AppData\Local\Temp\ipykernel_25996\2094421833.py:3: SyntaxWarning: invalid escape sequence '\d'
  path = '.\dataset\dados_emprestimos\*.csv' # Caminho dos arquivos csv

In [3]:
df_emprestimo.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO

In [4]:
df_emprestimo.shape

(2258018, 7)

In [5]:
df_emprestimo.value_counts() # verificando duplicados

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
10322140       2012043425     2018/01/29 21:31:14.254000000  2017/12/29 14:11:46.562000000  2018/02/27 14:49:44.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322144       2012052321     2018/01/29 21:31:14.235000000  2017/12/29 14:11:46.621000000  2018/02/27 14:49:18.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322148       2013114500     2018/01/29 21:31:14.215000000  2017/12/29 14:11:46.680000000  2018/02/27 14:49:53.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322152       2014057666     2018/01/29 21:31:14.192000000  2017/12/29 14:11:46.742000000  2018/02/27 14:49:33.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322156       2014057679     2018/01/29 21:31:14.169000000  2017/12/29 14:11:46.806000000  2018/02/27 14:49:07.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO    1
Name: count, Length: 968028, dtype: int64

In [6]:
df_emprestimo['id_emprestimo'].value_counts()

id_emprestimo
709705     7
709704     7
709698     3
709687     2
709684     2
          ..
2989086    1
2989087    1
2989088    1
2989089    1
709712     1
Name: count, Length: 2257981, dtype: int64

In [7]:
df_emprestimo['ano_emprestimo'] = df_emprestimo['data_emprestimo'].str[:4] # adicionando ano de empréstimo
df_emprestimo.head(10) # primeiras

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,2010
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,2010
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,2010
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,2010
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,2010
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO,2010

In [8]:
df_emprestimo.tail() # ultimas

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo
2258013,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020
2258014,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020
2258015,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020
2258016,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020
2258017,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020

Importando dados - Acervo

In [9]:
path_acervo = '.\dataset\dados_exemplares.parquet'

df_acervo = pd.read_parquet(path_acervo)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\corre\AppData\Local\Temp\ipykernel_25996\3428660207.py:1: SyntaxWarning: invalid escape sequence '\d'
  path_acervo = '.\dataset\dados_exemplares.parquet'

In [10]:
df_acervo.head() # primeiras

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [11]:
df_acervo.shape

(546237, 7)

In [12]:
df_acervo.value_counts() # ou seja, nenhuma repetição

id_exemplar  codigo_barras                colecao            biblioteca                      status_material  localizacao  registro_sistema
1353476      2019012276                   Acervo Circulante  Biblioteca Central Zila Mamede  ESPECIAL         962          268236              1
3            L000001                      Acervo Circulante  Biblioteca Central Zila Mamede  ESPECIAL         638          1                   1
4            L000002                      Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          688          1                   1
5            L000003                      Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          694          1                   1
7            L000114                      Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          616          5                   1
                                                                                                                                              ..
34           L000134_09/09/2020 11:02:36  Acervo Circulante  Biblioteca Central Zila Mamede  ESPECIAL         601          50                  1
31           EE00198_05/08/2020 17:40:51  Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          604          44                  1
28           FD00103                      Acervo Circulante  Biblioteca Central Zila Mamede  ESPECIAL         659          38                  1
27           L000133_11/05/2018 08:57:56  Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          691          37                  1
26           L000132                      Acervo Circulante  Biblioteca Central Zila Mamede  REGULAR          662          37                  1
Name: count, Length: 546237, dtype: int64

Juntando Dataframes

In [13]:
df_completo = df_emprestimo.merge(df_acervo) # integrando os dois dataframes
df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098
2072554,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171
2072555,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153

Acrescentando CDU

000 a 099: Generalidades. Ciência e conhecimento. <br>
100 a 199: Filosofia e psicologia.<br>
200 a 299: Religião.<br>
300 a 399: Ciências sociais.<br>
400 a 499: Classe vaga. Provisoriamente não ocupada.<br>
500 a 599: Matemática e ciências naturais.<br>
600 a 699: Ciências aplicadas.<br>
700 a 799: Belas artes.<br>
800 a 899: Linguagem. Língua. Linguística.<br>
900 a 999: Geografia. Biografia. História."<br>

In [14]:
# criando dicionário de CDUs
classificacao = {
    (0,99) : 'Generalidades. Ciência e conhecimento.',
    (100, 199): 'Filosofia e psicologia.',
    (200, 299): 'Religião.',
    (300, 399): 'Ciências sociais.',
    (400, 499): 'Classe vaga. Provisoriamente não ocupada.',
    (500, 599): 'Matemática e ciências naturais.',
    (600, 699): 'Ciências aplicadas.',
    (700, 799): 'Belas artes.',
    (800, 899): 'Linguagem. Língua. Linguística.',
    (900, 999): 'Geografia. Biografia. História.'
}

In [15]:
# função para classificar e posteriormente aplicar no DF

def classificar(numero):
    for intervalo, categoria in classificacao.items():
        if intervalo[0] <= numero <= intervalo[1]:
            return categoria

In [16]:
# aplicando a função no df e criando coluna

df_completo['cdu'] = df_completo['localizacao'].apply(classificar)
df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009,Ciências aplicadas.
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098,Ciências aplicadas.
2072554,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171,Ciências aplicadas.
2072555,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173,Ciências aplicadas.
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153,Generalidades. Ciência e conhecimento.

Dropando Registro Sistema

In [17]:
# Tirando coluna indesejada

df_completo = df_completo.drop(columns='registro_sistema')
df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,Ciências aplicadas.
2072554,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,Ciências aplicadas.
2072555,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,Ciências aplicadas.
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.

Transformando matrícula em string

In [18]:
df_completo['matricula_ou_siape'] = df_completo['matricula_ou_siape'].astype(str)
df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,Ciências aplicadas.
2072554,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,Ciências aplicadas.
2072555,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3067431.0,SERVIDOR TÉCNICO-ADMINISTRATIVO,2020,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,Ciências aplicadas.
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.

In [19]:
df_completo['id_emprestimo'].value_counts() # analisando quantos exemplares foram emprestados

id_emprestimo
709704     7
709705     7
1987946    3
2049407    3
1752337    3
          ..
709699     1
709700     1
709702     1
709703     1
2989090    1
Name: count, Length: 2068724, dtype: int64

In [20]:
df_completo.loc[df_completo['id_emprestimo'] == 2010326]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
1141739,2010326,2010082015,NaN,2015/06/02 17:56:18.917000000,2015/06/19 15:42:51.000000000,2010023153.0,ALUNO DE GRADUAÇÃO,2015,1055921,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,671,Ciências aplicadas.
1141740,2010326,2010082015,NaN,2015/06/02 17:56:18.917000000,2015/06/19 15:42:51.000000000,2010023153.0,ALUNO DE GRADUAÇÃO,2015,1055569,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,699,Ciências aplicadas.
1141741,2010326,2010082015,NaN,2015/06/02 17:56:18.917000000,2015/06/19 15:42:51.000000000,2010023153.0,ALUNO DE GRADUAÇÃO,2015,1056359,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,363,Ciências sociais.

Ou seja, 1 id de emprestimo pode conter mais de um livro.

In [21]:
# numero total de emprestimos, mesmo com mais de 1 livro

emprestimos = len(df_completo['id_emprestimo'].drop_duplicates())
emprestimos

2068724

In [22]:
# numero de exemplares emprestados

exemplares_emprestados = len(df_completo)
exemplares_emprestados

2072558

Ou seja, o filtro deverá ser pelo id_exemplar, contemplando todos os livros, não empréstimos

In [23]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Vamos usar o to.datetime para filtrar por mes futuramente

In [24]:
emprestimo_data = pd.DataFrame(df_completo['data_emprestimo'].value_counts()).reset_index()
emprestimo_data.columns = ['data', 'quantidade']
emprestimo_data['data'] = pd.to_datetime(emprestimo_data['data'])
emprestimo_data

                           data  quantidade
0       2010-01-04 09:58:46.549           7
1       2010-01-04 09:58:46.522           7
2       2014-07-14 15:35:51.822           3
3       2015-06-02 17:56:18.917           3
4       2015-06-10 18:51:56.994           3
...                         ...         ...
2068686 2010-01-19 13:39:20.746           1
2068687 2010-01-04 09:21:19.126           1
2068688 2010-01-04 09:42:28.589           1
2068689 2010-01-04 09:48:05.637           1
2068690 2010-01-04 09:56:42.325           1

[2068691 rows x 2 columns]

In [91]:
# emprestimos por ano agora
emprestimo_ano = emprestimo_data.groupby(emprestimo_data['data'].dt.year).sum(numeric_only=True)
emprestimo_ano.head()

      quantidade
data
2010      161412
2011      196390
2012      221365
2013      234749
2014      219189

In [89]:
import plotly.express as px

In [106]:
# gerando o gráfico por ano

g1 = px.line(
    emprestimo_ano,
    title = 'Empréstimos por Ano',
    template = 'plotly_dark',
)
g1.update_layout(
    xaxis_title = 'Ano',
    yaxis_title = 'Quantidade'
)

g1.show(config = {'responsive': True})

Vê-se grande declínio de emprestimos após o ano de 2019

In [27]:
# mesmo exercício por mês do ano
emprestimo_mes = emprestimo_data.groupby(emprestimo_data['data'].dt.month).sum(numeric_only=True)
emprestimo_mes.head()

      quantidade
data
1          67542
2         210200
3         252185
4         208725
5         202530

In [111]:
# gerando o gráfico por mes

g2 = px.line(emprestimo_mes, title = 'Empréstimos por Mês', template='plotly_dark')
g2.update_layout(
    xaxis_title = 'Mês',
    yaxis_title = 'Quantidade'
)
g2.show(config = {'responsive': True})

Meses com maior são Março e Agosto<br>

Período pré prova?<br>

Melhores meses para férias: Junho e Julho

In [29]:
# verificando maior hora dos empréstimos
emprestimo_hora = emprestimo_data.groupby(emprestimo_data['data'].dt.hour).sum(numeric_only=True).reset_index()
emprestimo_hora.head()

   data  quantidade
0     0          17
1     6          14
2     7       18779
3     8      103420
4     9      131287

In [118]:
# gerando o gráfico por hora
g3 = px.bar(emprestimo_hora, title='Emprestimo por hora', template='plotly_dark')
g3.update_layout(
    xaxis_title = 'Hora',
    yaxis_title = 'Quantidade'
)
g3.show(config = {'resonsive': True})

c:\Users\corre\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\offline\offline.py:152: UserWarning:


Unrecognized config options supplied: ['resonsive']

Entrando com variáveis categóricas

Temas da CDU emprestado

In [31]:
df_completo.head() # relembrando

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.

Para cada categoria, valores únicos
<br>
<br>
1. CDU
2. Vínculo do usuário
3. Bibliotecas
4. Coleção

In [32]:
df_completo['cdu'].unique() # quais são os cdus?

array(['Ciências aplicadas.', 'Linguagem. Língua. Linguística.',
       'Ciências sociais.', 'Geografia. Biografia. História.',
       'Matemática e ciências naturais.', 'Religião.',
       'Generalidades. Ciência e conhecimento.',
       'Filosofia e psicologia.', 'Belas artes.'], dtype=object)

In [33]:
df_completo['biblioteca'].unique() # quais usuários?

array(['Biblioteca Central Zila Mamede',
       'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba',
       'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN',
       'Biblioteca Setorial do Centro Ciências da Saúde - CCS',
       'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia',
       'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET',
       'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA',
       'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT',
       'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ',
       'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA',
       'Biblioteca Setorial do Departamento de Artes - DEART',
       'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT',
       'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe',
       'Biblioteca Setorial Moacyr de Góes - CE',
       'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB',
       'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó',
       'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN',
       'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó',
       'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos',
       'Biblioteca Setorial do Núcleo de Educação da Infância - NEI',
       'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz',
       'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz'],
      dtype=object)

In [34]:
df_completo['biblioteca'].unique() # quais bibliotecas

array(['Biblioteca Central Zila Mamede',
       'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba',
       'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN',
       'Biblioteca Setorial do Centro Ciências da Saúde - CCS',
       'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia',
       'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET',
       'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA',
       'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT',
       'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ',
       'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA',
       'Biblioteca Setorial do Departamento de Artes - DEART',
       'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT',
       'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe',
       'Biblioteca Setorial Moacyr de Góes - CE',
       'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB',
       'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó',
       'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN',
       'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó',
       'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos',
       'Biblioteca Setorial do Núcleo de Educação da Infância - NEI',
       'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz',
       'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz'],
      dtype=object)

Calcular percentual de cada categoria
<br>
Função....

In [35]:
# função para cálculo de categoria

def categorizar(categoria):
    dataframe = pd.DataFrame(df_completo[categoria]).value_counts(). reset_index() # gerando dataframe
    dataframe['percentual'] = round(dataframe['count'] / dataframe['count'].sum() * 100, 1) # calculando percentual

    return dataframe

Percentual CDU

In [36]:
cdu = categorizar('cdu')
cdu

                                      cdu    count  percentual
0                     Ciências aplicadas.  1425496        68.8
1                       Ciências sociais.   369543        17.8
2         Matemática e ciências naturais.    68745         3.3
3  Generalidades. Ciência e conhecimento.    62525         3.0
4                               Religião.    62295         3.0
5                 Filosofia e psicologia.    60564         2.9
6         Geografia. Biografia. História.     7989         0.4
7                            Belas artes.     7911         0.4
8         Linguagem. Língua. Linguística.     7490         0.4

Percentual Vinculo

In [37]:
vinculo = categorizar('tipo_vinculo_usuario')
vinculo

              tipo_vinculo_usuario    count  percentual
0               ALUNO DE GRADUAÇÃO  1612351        77.8
1           ALUNO DE PÓS-GRADUAÇÃO   302547        14.6
2                          DOCENTE    70981         3.4
3  SERVIDOR TÉCNICO-ADMINISTRATIVO    32184         1.6
4              ALUNO MÉDIO/TÉCNICO    28032         1.4
5                  DOCENTE EXTERNO    23949         1.2
6                  USUÁRIO EXTERNO     2509         0.1
7                           OUTROS        5         0.0

Percentual Biblioteca

In [38]:
biblioteca = categorizar('biblioteca')
biblioteca

                                           biblioteca    count  percentual
0                      Biblioteca Central Zila Mamede  1426148        68.8
1   Biblioteca Setorial do Centro Ciências da Saúd...   118616         5.7
2   Biblioteca Setorial da Faculdade de Ciências d...    77609         3.7
3   Biblioteca Setorial Prof. Alberto Moreira Camp...    66452         3.2
4   Biblioteca Setorial Profª. Maria Lúcia da Cost...    61478         3.0
5   Biblioteca Setorial Bertha Cruz Enders - ­Esco...    46040         2.2
6   Biblioteca Setorial do Centro de Ciências Huma...    40746         2.0
7   Biblioteca Setorial Dr. Paulo Bezerra - EMCM/R...    32097         1.5
8   Biblioteca Setorial Profª. Maria José Mamede G...    29089         1.4
9   Biblioteca Setorial Prof. Rodolfo Helinski - E...    27220         1.3
10  Biblioteca Setorial Prof. Francisco Gurgel De ...    26923         1.3
11  Biblioteca Setorial do Núcleo de Educação da I...    23656         1.1
12  Biblioteca Setorial Prof. Ronaldo Xavier de Ar...    22749         1.1
13  Biblioteca Setorial Pe. Jaime Diniz - Escola d...    21476         1.0
14  Biblioteca Setorial do Departamento de Artes -...    17099         0.8
15  Biblioteca Setorial Prof. Leopoldo Nelson - ­C...    12900         0.6
16  Biblioteca Setorial do Centro Ciências Sociais...    10533         0.5
17  Biblioteca Setorial Prof. Dr. Marcelo Bezerra ...     5057         0.2
18  Biblioteca Setorial Prof. Horácio Nicolas Soli...     4098         0.2
19            Biblioteca Setorial Moacyr de Góes - CE     1036         0.0
20  Biblioteca Setorial Árvore do Conhecimento - I...      919         0.0
21  Biblioteca Setorial do Núcleo de Ensino Superi...      617         0.0

Porcentagem Coleção

In [39]:
colecao = categorizar('colecao')
colecao

                                  colecao    count  percentual
0                       Acervo Circulante  2053156        99.1
1                              Multimeios     7954         0.4
2                             Monografias     4021         0.2
3                            Dissertações     2406         0.1
4                     Obras de Referência     1954         0.1
5            Publicações de Autores do RN      866         0.0
6                     Publicações da UFRN      764         0.0
7                                   Teses      714         0.0
8                                Folhetos      271         0.0
9   Necessidades Educacionais Específicas      130         0.0
10                     Trabalho Acadêmico      115         0.0
11                                Eventos      101         0.0
12                    Coleção Mossoroense       44         0.0
13                    Coleção Zila Mamede       30         0.0
14                   Literatura de Cordel       24         0.0
15                            Obras Raras        8         0.0

Boxplot para demandas específicas

<p> 1. Alunos de graduação e pós-graduação - um gráfico para cada tipo
<p> 2. Coleção com maior frequencia de empréstimos

<p> boxplot por ano.

In [40]:
# para graduação, maior coleção

graduacao = df_completo.query('tipo_vinculo_usuario == "ALUNO DE GRADUAÇÃO"')
graduacao['colecao'].value_counts()

colecao
Acervo Circulante                        1600182
Multimeios                                  4652
Monografias                                 3572
Dissertações                                1152
Obras de Referência                         1047
Publicações de Autores do RN                 595
Publicações da UFRN                          466
Teses                                        245
Folhetos                                     180
Trabalho Acadêmico                            81
Necessidades Educacionais Específicas         73
Eventos                                       57
Coleção Mossoroense                           17
Coleção Zila Mamede                           15
Literatura de Cordel                          11
Obras Raras                                    6
Name: count, dtype: int64

Ou seja, acervo circulante deverá ser analisado para graduação.

In [41]:
# data frame filtrado graduação + acervo circulante

graduacao_circulante = pd.DataFrame(graduacao.query('colecao == "Acervo Circulante"'))
graduacao_circulante.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.

In [42]:
# criando tabela para plotar o gráfico

graduacao_circulante['data_emprestimo'] = pd.to_datetime(graduacao_circulante['data_emprestimo'])
graduacao_circulante['data_emprestimo'].dtype

dtype('<M8[ns]')

In [43]:
graduacao_circulante['ano'] = graduacao_circulante['data_emprestimo'].dt.year
graduacao_circulante['mes'] = graduacao_circulante['data_emprestimo'].dt.month
graduacao_circulante = graduacao_circulante.loc[:,['ano', 'mes']]
graduacao_circulante = graduacao_circulante.value_counts().to_frame('quantidade').reset_index()
graduacao_circulante.head()

    ano  mes  quantidade
0  2012    3       22797
1  2015    3       22483
2  2013    4       21853
3  2017    3       21735
4  2016    3       21692

In [44]:
graduacao_circulante.shape

(123, 3)

Plotando Boxplot

In [45]:
import plotly.express as px

In [119]:
fig = px.box(graduacao_circulante, y = 'quantidade', x = 'ano', title = 'Boxplot de Empréstimos - Alunos de Graduação - Mês e Ano', template='plotly_dark')
fig.show()
fig.write_html('graduacao.html')

Pós Graduação

In [47]:
# para pós-graduação, maior coleção

pos_graduacao = df_completo.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO"')
pos_graduacao['colecao'].value_counts()

colecao
Acervo Circulante                        299207
Dissertações                                934
Obras de Referência                         700
Multimeios                                  559
Teses                                       367
Monografias                                 278
Publicações de Autores do RN                204
Publicações da UFRN                         121
Folhetos                                     60
Necessidades Educacionais Específicas        30
Eventos                                      26
Trabalho Acadêmico                           23
Coleção Mossoroense                          23
Coleção Zila Mamede                          11
Literatura de Cordel                          4
Name: count, dtype: int64

In [48]:
# data frame filtrado pós-graduação + acervo circulante

pos_graduacao_circulante = pd.DataFrame(pos_graduacao.query('colecao == "Acervo Circulante"'))
pos_graduacao_circulante.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
42,709709,2009011815,2010/02/03 12:58:49.734000000,2010/01/04 10:02:59.828000000,2010/03/02 16:38:38.231000000,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,2010,265828,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,620,Ciências aplicadas.
46,709713,2008010513,NaN,2010/01/04 10:23:39.830000000,2010/01/05 11:57:06.156000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,190443,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,656,Ciências aplicadas.
47,709714,2008046332,NaN,2010/01/04 10:23:39.859000000,2010/01/05 11:57:01.461000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,256856,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,619,Ciências aplicadas.

In [49]:
# criando tabela para plotar o gráfico

pos_graduacao_circulante['data_emprestimo'] = pd.to_datetime(pos_graduacao_circulante['data_emprestimo'])
pos_graduacao_circulante['data_emprestimo'].dtype
pos_graduacao_circulante['ano'] = pos_graduacao_circulante['data_emprestimo'].dt.year
pos_graduacao_circulante['mes'] = pos_graduacao_circulante['data_emprestimo'].dt.month
pos_graduacao_circulante = pos_graduacao_circulante.loc[:,['ano', 'mes']]
pos_graduacao_circulante.value_counts()
pos_graduacao_circulante = pos_graduacao_circulante.value_counts().to_frame('quantidade').reset_index()

In [87]:
fig = px.box(pos_graduacao_circulante,
             y = 'quantidade',
             x = 'ano',
             title = 'Boxplot de Empréstimos - Alunos de Pós Graduação - Mês e Ano',
             template= 'plotly_dark')
fig.show(config={'responsive': True})

In [51]:
# dados de matricula arquivo excel
matricula_alunos_antes = pd.read_excel('.\dataset\matricula_alunos.xlsx', sheet_name = 'Até 2010' ,skiprows=1)
matricula_alunos_apos = pd.read_excel('.\dataset\matricula_alunos.xlsx', sheet_name = 'Após 2010' ,skiprows=1)

<>:2: SyntaxWarning:

invalid escape sequence '\d'

<>:3: SyntaxWarning:

invalid escape sequence '\d'

<>:2: SyntaxWarning:

invalid escape sequence '\d'

<>:3: SyntaxWarning:

invalid escape sequence '\d'

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\751103845.py:2: SyntaxWarning:

invalid escape sequence '\d'

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\751103845.py:3: SyntaxWarning:

invalid escape sequence '\d'

In [52]:
matricula_alunos_antes.columns = ['matricula_ou_siape','tipo_vinculo_usuario','curso']
matricula_alunos_apos.columns = ['matricula_ou_siape','tipo_vinculo_usuario','curso']
matriculas_excel = pd.concat([matricula_alunos_apos, matricula_alunos_antes], ignore_index=True)
matriculas_excel['matricula_ou_siape'] = matriculas_excel['matricula_ou_siape'].astype(str)
matriculas_excel.head()

  matricula_ou_siape tipo_vinculo_usuario                 curso
0       2010000017.0   ALUNO DE GRADUAÇÃO               DIREITO
1       2010000035.0   ALUNO DE GRADUAÇÃO             AGRONOMIA
2       2010001290.0   ALUNO DE GRADUAÇÃO    ENGENHARIA QUÍMICA
3       2010002849.0   ALUNO DE GRADUAÇÃO  ENGENHARIA AMBIENTAL
4       2010003381.0   ALUNO DE GRADUAÇÃO             GEOGRAFIA

In [53]:
# cadastro json
matriculas_alunos_2 = pd.read_json('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json?utm_medium=email&_hsenc=p2ANqtz-_b4sQUyJMO8Riur1RAo7_UmQMgCDzp1Cq5rmWAwQ8pztxwbny5C01J1tUjf2tsIrqtcz6jCcLjwABlcznXtWRCcWzNmw&_hsmi=270881120&utm_content=270881120&utm_source=hs_automation')
matriculas_alunos_2

     tipo_curso                                          registros
0     GRADUACAO  [{"matricula_ou_siape": "2009029003.0", "tipo_...
1  POSGRADUACAO  [{"matricula_ou_siape": "2008112114.0", "tipo_...

In [54]:
# considerando que só vamos olhar graduação
matriculas_json = pd.read_json(matriculas_alunos_2.registros[0])
matriculas_json

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\3965445276.py:2: FutureWarning:

Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

       matricula_ou_siape tipo_vinculo_usuario                   curso
0              2009029003   ALUNO DE GRADUAÇÃO               FILOSOFIA
1               200617346   ALUNO DE GRADUAÇÃO                 DIREITO
2               200746502   ALUNO DE GRADUAÇÃO  ENGENHARIA DE PETRÓLEO
3               200504968   ALUNO DE GRADUAÇÃO           ADMINISTRAÇÃO
4               200615572   ALUNO DE GRADUAÇÃO   CIÊNCIA DA COMPUTAÇÃO
...                   ...                  ...                     ...
62797         20200012706   ALUNO DE GRADUAÇÃO         BIBLIOTECONOMIA
62798         20200039601   ALUNO DE GRADUAÇÃO    ENGENHARIA FLORESTAL
62799         20200132517   ALUNO DE GRADUAÇÃO               AGRONOMIA
62800         20200009344   ALUNO DE GRADUAÇÃO         BIBLIOTECONOMIA
62801         20200090284   ALUNO DE GRADUAÇÃO                 DIREITO

[62802 rows x 3 columns]

In [55]:
matriculas_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62802 entries, 0 to 62801
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula_ou_siape    62802 non-null  int64
 1   tipo_vinculo_usuario  62802 non-null  object
 2   curso                 62802 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [56]:
matriculas_json['matricula_ou_siape'] = matriculas_json['matricula_ou_siape'].astype(float)
matriculas_json['matricula_ou_siape'] = matriculas_json['matricula_ou_siape'].astype(str)
matriculas_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62802 entries, 0 to 62801
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula_ou_siape    62802 non-null  object
 1   tipo_vinculo_usuario  62802 non-null  object
 2   curso                 62802 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [57]:
matriculas_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   matricula_ou_siape    10000 non-null  object
 1   tipo_vinculo_usuario  10000 non-null  object
 2   curso                 10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

In [58]:
df_matriculas = pd.concat([matriculas_excel, matriculas_json], ignore_index=True)
df_matriculas

      matricula_ou_siape tipo_vinculo_usuario                 curso
0           2010000017.0   ALUNO DE GRADUAÇÃO               DIREITO
1           2010000035.0   ALUNO DE GRADUAÇÃO             AGRONOMIA
2           2010001290.0   ALUNO DE GRADUAÇÃO    ENGENHARIA QUÍMICA
3           2010002849.0   ALUNO DE GRADUAÇÃO  ENGENHARIA AMBIENTAL
4           2010003381.0   ALUNO DE GRADUAÇÃO             GEOGRAFIA
...                  ...                  ...                   ...
72797      20200012706.0   ALUNO DE GRADUAÇÃO       BIBLIOTECONOMIA
72798      20200039601.0   ALUNO DE GRADUAÇÃO  ENGENHARIA FLORESTAL
72799      20200132517.0   ALUNO DE GRADUAÇÃO             AGRONOMIA
72800      20200009344.0   ALUNO DE GRADUAÇÃO       BIBLIOTECONOMIA
72801      20200090284.0   ALUNO DE GRADUAÇÃO               DIREITO

[72802 rows x 3 columns]

In [59]:
df_completo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas.
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,200721119.0,ALUNO DE GRADUAÇÃO,2010,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,Ciências aplicadas.
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2008023265.0,ALUNO DE GRADUAÇÃO,2010,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas.

Aqui precisa filtar matricula e data de empréstimo

In [60]:
# Colocando só graduação e colunas matricula e dados de empréstimo

matricula_emprestimo = df_completo.query('tipo_vinculo_usuario == "ALUNO DE GRADUAÇÃO"')
matricula_emprestimo = matricula_emprestimo.loc[:,['matricula_ou_siape', 'data_emprestimo']]
matricula_emprestimo['data_emprestimo'] = pd.to_datetime(matricula_emprestimo['data_emprestimo'])
matricula_emprestimo = matricula_emprestimo.query('data_emprestimo > 2015')
matricula_emprestimo = matricula_emprestimo.reset_index(drop=True)
matricula_emprestimo

       matricula_ou_siape         data_emprestimo
0            2013021576.0 2015-01-02 09:16:49.566
1            2014026648.0 2015-01-02 09:44:42.808
2            2014026648.0 2015-01-02 09:44:43.127
3            2010049586.0 2015-01-02 10:11:09.837
4            2014021454.0 2015-01-02 10:19:38.087
...                   ...                     ...
788109      20190154579.0 2020-03-18 16:26:20.477
788110      20160129109.0 2020-03-18 16:41:28.500
788111      20160129109.0 2020-03-18 16:41:28.588
788112      20160129109.0 2020-03-18 16:41:28.662
788113      20160129109.0 2020-03-18 16:41:28.713

[788114 rows x 2 columns]

In [120]:
df_matriculas_selecionados = df_matriculas.query("curso == ['BIBLIOTECONOMIA','CIÊNCIAS SOCIAIS','COMUNICAÇÃO SOCIAL','DIREITO','FILOSOFIA','PEDAGOGIA']")
df_matriculas_selecionados

      matricula_ou_siape tipo_vinculo_usuario               curso
0           2010000017.0   ALUNO DE GRADUAÇÃO             DIREITO
9           2010004345.0   ALUNO DE GRADUAÇÃO    CIÊNCIAS SOCIAIS
20          2010012810.0   ALUNO DE GRADUAÇÃO  COMUNICAÇÃO SOCIAL
25          2010012887.0   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA
27          2010012917.0   ALUNO DE GRADUAÇÃO  COMUNICAÇÃO SOCIAL
...                  ...                  ...                 ...
72789      20200097481.0   ALUNO DE GRADUAÇÃO           PEDAGOGIA
72796      20200107087.0   ALUNO DE GRADUAÇÃO           PEDAGOGIA
72797      20200012706.0   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA
72800      20200009344.0   ALUNO DE GRADUAÇÃO     BIBLIOTECONOMIA
72801      20200090284.0   ALUNO DE GRADUAÇÃO             DIREITO

[18833 rows x 3 columns]

In [64]:
# unindo dataframes

matriculas_completo = matricula_emprestimo.merge(df_matriculas_selecionados)
matriculas_completo

,matricula_ou_siape,data_emprestimo,tipo_vinculo_usuario,curso
0,2014021454.0,2015-01-02 10:19:38.087,ALUNO DE GRADUAÇÃO,FILOSOFIA
1,2013018187.0,2015-01-02 10:25:40.883,ALUNO DE GRADUAÇÃO,DIREITO
2,2014029499.0,2015-01-02 12:26:43.571,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
3,2014029499.0,2015-01-02 12:26:43.840,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
4,2014029499.0,2015-01-02 12:26:44.750,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
...,...,...,...,...
212834,20200090284.0,2020-03-17 20:23:54.966,ALUNO DE GRADUAÇÃO,DIREITO
212835,20180113385.0,2020-03-17 21:20:47.278,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
212836,20190150079.0,2020-03-18 13:43:53.220,ALUNO DE GRADUAÇÃO,PEDAGOGIA
212837,20190150079.0,2020-03-18 13:43:53.389,ALUNO DE GRADUAÇÃO,PEDAGOGIA
212838,20190150079.0,2020-03-18 13:43:53.456,ALUNO DE GRADUAÇÃO,PEDAGOGIA

In [65]:
matriculas_completo['data_emprestimo'] = matriculas_completo['data_emprestimo'].dt.year
matriculas_completo

,matricula_ou_siape,data_emprestimo,tipo_vinculo_usuario,curso
0,2014021454.0,2015,ALUNO DE GRADUAÇÃO,FILOSOFIA
1,2013018187.0,2015,ALUNO DE GRADUAÇÃO,DIREITO
2,2014029499.0,2015,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
3,2014029499.0,2015,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
4,2014029499.0,2015,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
...,...,...,...,...
212834,20200090284.0,2020,ALUNO DE GRADUAÇÃO,DIREITO
212835,20180113385.0,2020,ALUNO DE GRADUAÇÃO,CIÊNCIAS SOCIAIS
212836,20190150079.0,2020,ALUNO DE GRADUAÇÃO,PEDAGOGIA
212837,20190150079.0,2020,ALUNO DE GRADUAÇÃO,PEDAGOGIA
212838,20190150079.0,2020,ALUNO DE GRADUAÇÃO,PEDAGOGIA

In [66]:
matriculas_completo = matriculas_completo.iloc[:,[1,3]].value_counts().reset_index()
matriculas_completo.columns = ['Ano', 'Curso', 'Emprestimos']
matriculas_completo

     Ano               Curso  Emprestimos
0   2017  COMUNICAÇÃO SOCIAL         8253
1   2016  COMUNICAÇÃO SOCIAL         7973
2   2017             DIREITO         7885
3   2015     BIBLIOTECONOMIA         7784
4   2015             DIREITO         7665
5   2016           FILOSOFIA         7576
6   2015    CIÊNCIAS SOCIAIS         7489
7   2017           PEDAGOGIA         7434
8   2017           FILOSOFIA         7389
9   2016             DIREITO         7363
10  2017     BIBLIOTECONOMIA         7307
11  2015           PEDAGOGIA         7189
12  2016           PEDAGOGIA         7153
13  2015  COMUNICAÇÃO SOCIAL         7147
14  2016     BIBLIOTECONOMIA         7044
15  2018             DIREITO         7027
16  2016    CIÊNCIAS SOCIAIS         6979
17  2018  COMUNICAÇÃO SOCIAL         6953
18  2015           FILOSOFIA         6950
19  2017    CIÊNCIAS SOCIAIS         6918
20  2018           PEDAGOGIA         6518
21  2018     BIBLIOTECONOMIA         6378
22  2018           FILOSOFIA         6296
23  2018    CIÊNCIAS SOCIAIS         6181
24  2019     BIBLIOTECONOMIA         5889
25  2019  COMUNICAÇÃO SOCIAL         5885
26  2019           PEDAGOGIA         5869
27  2019             DIREITO         5861
28  2019    CIÊNCIAS SOCIAIS         5788
29  2019           FILOSOFIA         5572
30  2020             DIREITO          905
31  2020     BIBLIOTECONOMIA          900
32  2020           PEDAGOGIA          866
33  2020           FILOSOFIA          832
34  2020    CIÊNCIAS SOCIAIS          825
35  2020  COMUNICAÇÃO SOCIAL          796

Tabela Pivot

In [67]:
matriculas_completo_pivot = matriculas_completo.pivot_table(
    index = 'Curso',
    columns = 'Ano',
    values = 'Emprestimos',
    fill_value = '-',
    aggfunc = sum,
    margins = True,
    margins_name = 'Total',
)

matriculas_completo_pivot

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\3510774688.py:1: FutureWarning:

The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\3510774688.py:1: FutureWarning:

The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\3510774688.py:1: FutureWarning:

The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.

Ano                  2015   2016   2017   2018   2019  2020   Total
Curso
BIBLIOTECONOMIA      7784   7044   7307   6378   5889   900   35302
CIÊNCIAS SOCIAIS     7489   6979   6918   6181   5788   825   34180
COMUNICAÇÃO SOCIAL   7147   7973   8253   6953   5885   796   37007
DIREITO              7665   7363   7885   7027   5861   905   36706
FILOSOFIA            6950   7576   7389   6296   5572   832   34615
PEDAGOGIA            7189   7153   7434   6518   5869   866   35029
Total               44224  44088  45186  39353  34864  5124  212839

Plano para alunos de pós-graduação

Empréstimos de pós

In [68]:
# Separando só pós-graduação
df_pos = df_completo.query('tipo_vinculo_usuario == "ALUNO DE PÓS-GRADUAÇÃO"')
df_pos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
42,709709,2009011815,2010/02/03 12:58:49.734000000,2010/01/04 10:02:59.828000000,2010/03/02 16:38:38.231000000,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,2010,265828,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,620,Ciências aplicadas.
46,709713,2008010513,NaN,2010/01/04 10:23:39.830000000,2010/01/05 11:57:06.156000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,190443,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,656,Ciências aplicadas.
47,709714,2008046332,NaN,2010/01/04 10:23:39.859000000,2010/01/05 11:57:01.461000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,256856,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,619,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072544,2989077,2014012921,NaN,2020/03/19 14:41:57.754000000,2021/08/18 16:28:37.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,1107682,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,364,Ciências sociais.
2072545,2989078,2011060906,NaN,2020/03/19 14:42:56.670000000,2021/08/18 16:28:21.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,944715,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,698,Ciências aplicadas.
2072546,2989079,2012010451,NaN,2020/03/19 14:43:40.666000000,2021/08/18 16:29:00.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,984573,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,379,Ciências sociais.
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.

In [69]:
df_pos.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario',
       'ano_emprestimo', 'id_exemplar', 'colecao', 'biblioteca',
       'status_material', 'localizacao', 'cdu'],
      dtype='object')

In [70]:
# transformando em datetime e ano ==> podia ter feito lá em cima no df_completo =/
df_pos['data_emprestimo'] = pd.to_datetime(df_pos['data_emprestimo'])
df_pos['data_emprestimo'] = df_pos['data_emprestimo'].dt.year
df_pos['data_emprestimo'].head()

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\2175614120.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\2175614120.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2     2010
6     2010
42    2010
46    2010
47    2010
Name: data_emprestimo, dtype: int32

In [71]:
df_pos = pd.DataFrame(df_pos)
df_pos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,ano_emprestimo,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,2010,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
42,709709,2009011815,2010/02/03 12:58:49.734000000,2010,2010/03/02 16:38:38.231000000,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,2010,265828,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,620,Ciências aplicadas.
46,709713,2008010513,NaN,2010,2010/01/05 11:57:06.156000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,190443,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,656,Ciências aplicadas.
47,709714,2008046332,NaN,2010,2010/01/05 11:57:01.461000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,2010,256856,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,619,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072544,2989077,2014012921,NaN,2020,2021/08/18 16:28:37.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,1107682,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,364,Ciências sociais.
2072545,2989078,2011060906,NaN,2020,2021/08/18 16:28:21.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,944715,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,698,Ciências aplicadas.
2072546,2989079,2012010451,NaN,2020,2021/08/18 16:29:00.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,2020,984573,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,379,Ciências sociais.
2072556,2989089,2010048023,NaN,2020,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,2020,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.

In [72]:
df_pos = df_pos.drop('ano_emprestimo', axis=1) # coloquei no início, fui por outro caminho e não retirei
df_pos

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.
42,709709,2009011815,2010/02/03 12:58:49.734000000,2010,2010/03/02 16:38:38.231000000,2008106583.0,ALUNO DE PÓS-GRADUAÇÃO,265828,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,620,Ciências aplicadas.
46,709713,2008010513,NaN,2010,2010/01/05 11:57:06.156000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,190443,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,656,Ciências aplicadas.
47,709714,2008046332,NaN,2010,2010/01/05 11:57:01.461000000,2011101417.0,ALUNO DE PÓS-GRADUAÇÃO,256856,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,619,Ciências aplicadas.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072544,2989077,2014012921,NaN,2020,2021/08/18 16:28:37.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,1107682,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,364,Ciências sociais.
2072545,2989078,2011060906,NaN,2020,2021/08/18 16:28:21.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,944715,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,698,Ciências aplicadas.
2072546,2989079,2012010451,NaN,2020,2021/08/18 16:29:00.000000000,20191017055.0,ALUNO DE PÓS-GRADUAÇÃO,984573,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,379,Ciências sociais.
2072556,2989089,2010048023,NaN,2020,2021/07/21 15:33:55.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.
2072557,2989090,2013106838,NaN,2020,2021/07/21 15:33:45.000000000,20201014993.0,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.

In [73]:
df_pos['data_emprestimo'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int32)

Alunos de pós

In [74]:
# cadastro json
matriculas_pos = pd.read_json('https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_6-Novos_dados_novas_analises/Datasets/cadastro_alunos.json?utm_medium=email&_hsenc=p2ANqtz-_b4sQUyJMO8Riur1RAo7_UmQMgCDzp1Cq5rmWAwQ8pztxwbny5C01J1tUjf2tsIrqtcz6jCcLjwABlcznXtWRCcWzNmw&_hsmi=270881120&utm_content=270881120&utm_source=hs_automation')
matriculas_pos = pd.read_json(matriculas_pos.registros[1])
matriculas_pos.drop('tipo_vinculo_usuario', axis=1, inplace=True)
matriculas_pos

C:\Users\corre\AppData\Local\Temp\ipykernel_25996\449363831.py:3: FutureWarning:

Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

       matricula_ou_siape                                   curso
0              2008112114                  CIÊNCIAS ODONTOLÓGICAS
1              2008106583                  ENGENHARIA DE SOFTWARE
2              2011101417                 ARQUITETURA E URBANISMO
3              2011113122                               FILOSOFIA
4              2010110903                           ARTES CÊNICAS
...                   ...                                     ...
19435         20201013501  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO
19436         20201014062          CIÊNCIA, TECNOLOGIA E INOVAÇÃO
19437         20201017690                       CIÊNCIAS DA SAÚDE
19438         20201014465                                  DESIGN
19439         20201014993                                  DESIGN

[19440 rows x 2 columns]

In [75]:
# matricula_siape para str ==> que também poderia ter sido feito lá em cima uma vez só
df_pos['matricula_ou_siape']  = df_pos['matricula_ou_siape'].astype(str).str.replace(r'\.0', '', regex=True)
matriculas_pos['matricula_ou_siape']  = matriculas_pos['matricula_ou_siape'].astype(str)
df_pos['matricula_ou_siape']  = df_pos['matricula_ou_siape'].str.strip()
matriculas_pos['matricula_ou_siape']  = matriculas_pos['matricula_ou_siape'].str.strip()

In [76]:
df_pos_completo = pd.merge(df_pos, matriculas_pos[['matricula_ou_siape', 'curso']], on = 'matricula_ou_siape', how = 'left')
df_pos_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,cdu,curso
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.,CIÊNCIAS ODONTOLÓGICAS
1,709686,2006017618,2010/01/26 08:07:01.738000000,2010,2010/02/25 07:36:25.800000000,2008112114,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas.,CIÊNCIAS ODONTOLÓGICAS
2,709709,2009011815,2010/02/03 12:58:49.734000000,2010,2010/03/02 16:38:38.231000000,2008106583,ALUNO DE PÓS-GRADUAÇÃO,265828,Acervo Circulante,Biblioteca Setorial Prof. Alberto Moreira Camp...,REGULAR,620,Ciências aplicadas.,ENGENHARIA DE SOFTWARE
3,709713,2008010513,NaN,2010,2010/01/05 11:57:06.156000000,2011101417,ALUNO DE PÓS-GRADUAÇÃO,190443,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,656,Ciências aplicadas.,ARQUITETURA E URBANISMO
4,709714,2008046332,NaN,2010,2010/01/05 11:57:01.461000000,2011101417,ALUNO DE PÓS-GRADUAÇÃO,256856,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,619,Ciências aplicadas.,ARQUITETURA E URBANISMO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302542,2989077,2014012921,NaN,2020,2021/08/18 16:28:37.000000000,20191017055,ALUNO DE PÓS-GRADUAÇÃO,1107682,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,364,Ciências sociais.,ENGENHARIA CIVIL
302543,2989078,2011060906,NaN,2020,2021/08/18 16:28:21.000000000,20191017055,ALUNO DE PÓS-GRADUAÇÃO,944715,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,698,Ciências aplicadas.,ENGENHARIA CIVIL
302544,2989079,2012010451,NaN,2020,2021/08/18 16:29:00.000000000,20191017055,ALUNO DE PÓS-GRADUAÇÃO,984573,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,379,Ciências sociais.,ENGENHARIA CIVIL
302545,2989089,2010048023,NaN,2020,2021/07/21 15:33:55.000000000,20201014993,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,Ciências aplicadas.,DESIGN
302546,2989090,2013106838,NaN,2020,2021/07/21 15:33:45.000000000,20201014993,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,Generalidades. Ciência e conhecimento.,DESIGN

Tirando informações desnecessárias

In [77]:
df_pos_completo = df_pos_completo.loc[:,['data_emprestimo', 'curso']]
df_pos_completo

        data_emprestimo                    curso
0                  2010   CIÊNCIAS ODONTOLÓGICAS
1                  2010   CIÊNCIAS ODONTOLÓGICAS
2                  2010   ENGENHARIA DE SOFTWARE
3                  2010  ARQUITETURA E URBANISMO
4                  2010  ARQUITETURA E URBANISMO
...                 ...                      ...
302542             2020         ENGENHARIA CIVIL
302543             2020         ENGENHARIA CIVIL
302544             2020         ENGENHARIA CIVIL
302545             2020                   DESIGN
302546             2020                   DESIGN

[302547 rows x 2 columns]

Por curso, por ano...

In [78]:
estudo_pos = df_pos_completo.groupby(['curso', 'data_emprestimo']).size().reset_index(name='quantidade')
estudo_pos

                                      curso  data_emprestimo  quantidade
0                             ADMINISTRAÇÃO             2010        1525
1                             ADMINISTRAÇÃO             2011        1696
2                             ADMINISTRAÇÃO             2012        1964
3                             ADMINISTRAÇÃO             2013        2545
4                             ADMINISTRAÇÃO             2014        2735
..                                      ...              ...         ...
149  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO             2016        2493
150  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO             2017        2266
151  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO             2018        1891
152  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO             2019        1771
153  GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO             2020         252

[154 rows x 3 columns]

In [79]:
tabela_pos = estudo_pos.pivot_table(
    index = 'curso',
    columns = 'data_emprestimo',
    values = 'quantidade'
)
tabela_pos = tabela_pos.drop(columns = [2010, 2011, 2012, 2013, 2014, 2015, 2016], axis = 1)
tabela_pos

data_emprestimo                           2017    2018    2019   2020
curso
ADMINISTRAÇÃO                           2538.0  2316.0  1692.0  269.0
ARQUITETURA E URBANISMO                 2209.0  1917.0  1818.0  257.0
ARTES CÊNICAS                           2115.0  2082.0  1812.0  229.0
BIOINFORMÁTICA                          2190.0  1914.0  1825.0  263.0
BIOQUÍMICA                              2294.0  1944.0  2057.0  272.0
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316.0  2110.0  2008.0  328.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415.0  2365.0  2026.0  303.0
CIÊNCIAS DA SAÚDE                       2434.0  1986.0  1825.0  234.0
CIÊNCIAS ODONTOLÓGICAS                  2414.0  2540.0  2134.0  352.0
DESIGN                                  2272.0  1838.0  1841.0  254.0
ENGENHARIA CIVIL                        2399.0  2089.0  1989.0  254.0
ENGENHARIA DE SOFTWARE                  2477.0  2222.0  1887.0  264.0
FILOSOFIA                               2170.0  2048.0  1773.0  302.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266.0  1891.0  1771.0  252.0

Trazendo 2022

In [80]:
url = 'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_7-Apresentando_resultados_em_HTML/Dataset/previsao'
dados_2022 = pd.read_table(url)

dados_2022 = dados_2022['curso previsao_2022'].str.split(' ', expand=True)
dados_2022

                                         0     1
0                            administracao  1905
1                  arquitetura_e_urbanismo  1896
2                            artes_cenicas  1920
3                           bioinformatica  2302
4                               bioquimica  2090
5        ciencia_e_engenharia_de_materiais  2010
6            ciencia_tecnologia_e_inovacao  1960
7                        ciencias_da_saude  1730
8                   ciencias_odontologicas  2405
9                                   design  1900
10                        engenharia_civil  1920
11                     engenharia_software  1890
12                               filosofia  1903
13  gestao_da_informacao_e_do_conhecimento  1855

In [81]:
dados_2022.index = tabela_pos.index
tabela_pos['2022'] = dados_2022.iloc[:,1]
tabela_pos

data_emprestimo                           2017    2018    2019   2020  2022
curso
ADMINISTRAÇÃO                           2538.0  2316.0  1692.0  269.0  1905
ARQUITETURA E URBANISMO                 2209.0  1917.0  1818.0  257.0  1896
ARTES CÊNICAS                           2115.0  2082.0  1812.0  229.0  1920
BIOINFORMÁTICA                          2190.0  1914.0  1825.0  263.0  2302
BIOQUÍMICA                              2294.0  1944.0  2057.0  272.0  2090
CIÊNCIA E ENGENHARIA DE MATERIAIS       2316.0  2110.0  2008.0  328.0  2010
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          2415.0  2365.0  2026.0  303.0  1960
CIÊNCIAS DA SAÚDE                       2434.0  1986.0  1825.0  234.0  1730
CIÊNCIAS ODONTOLÓGICAS                  2414.0  2540.0  2134.0  352.0  2405
DESIGN                                  2272.0  1838.0  1841.0  254.0  1900
ENGENHARIA CIVIL                        2399.0  2089.0  1989.0  254.0  1920
ENGENHARIA DE SOFTWARE                  2477.0  2222.0  1887.0  264.0  1890
FILOSOFIA                               2170.0  2048.0  1773.0  302.0  1903
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO  2266.0  1891.0  1771.0  252.0  1855

Cálculo dos percentuais

In [82]:
tabela_pos.iloc[:, 1]

curso
ADMINISTRAÇÃO                             2316.0
ARQUITETURA E URBANISMO                   1917.0
ARTES CÊNICAS                             2082.0
BIOINFORMÁTICA                            1914.0
BIOQUÍMICA                                1944.0
CIÊNCIA E ENGENHARIA DE MATERIAIS         2110.0
CIÊNCIA, TECNOLOGIA E INOVAÇÃO            2365.0
CIÊNCIAS DA SAÚDE                         1986.0
CIÊNCIAS ODONTOLÓGICAS                    2540.0
DESIGN                                    1838.0
ENGENHARIA CIVIL                          2089.0
ENGENHARIA DE SOFTWARE                    2222.0
FILOSOFIA                                 2048.0
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO    1891.0
Name: 2018, dtype: float64

In [83]:
# função para calculo

def percent(q1, q2):
    percent =  round((q1 / q2 * 100) - 100, 2)

    return percent

teste = percent(tabela_pos.iloc[:, 1], tabela_pos.iloc[:, 0])
teste

curso
ADMINISTRAÇÃO                             -8.75
ARQUITETURA E URBANISMO                  -13.22
ARTES CÊNICAS                             -1.56
BIOINFORMÁTICA                           -12.60
BIOQUÍMICA                               -15.26
CIÊNCIA E ENGENHARIA DE MATERIAIS         -8.89
CIÊNCIA, TECNOLOGIA E INOVAÇÃO            -2.07
CIÊNCIAS DA SAÚDE                        -18.41
CIÊNCIAS ODONTOLÓGICAS                     5.22
DESIGN                                   -19.10
ENGENHARIA CIVIL                         -12.92
ENGENHARIA DE SOFTWARE                   -10.29
FILOSOFIA                                 -5.62
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO   -16.55
dtype: float64

In [84]:
df_percentuais = pd.DataFrame(
    {'2018': percent(tabela_pos.iloc[:, 1], tabela_pos.iloc[:, 0]),
    '2019': percent(tabela_pos.iloc[:, 2], tabela_pos.iloc[:, 1]),
    '2022': percent(tabela_pos.iloc[:, 3], tabela_pos.iloc[:, 2]),}   
)

df_percentuais

                                         2018   2019   2022
curso
ADMINISTRAÇÃO                           -8.75 -26.94 -84.10
ARQUITETURA E URBANISMO                -13.22  -5.16 -85.86
ARTES CÊNICAS                           -1.56 -12.97 -87.36
BIOINFORMÁTICA                         -12.60  -4.65 -85.59
BIOQUÍMICA                             -15.26   5.81 -86.78
CIÊNCIA E ENGENHARIA DE MATERIAIS       -8.89  -4.83 -83.67
CIÊNCIA, TECNOLOGIA E INOVAÇÃO          -2.07 -14.33 -85.04
CIÊNCIAS DA SAÚDE                      -18.41  -8.11 -87.18
CIÊNCIAS ODONTOLÓGICAS                   5.22 -15.98 -83.51
DESIGN                                 -19.10   0.16 -86.20
ENGENHARIA CIVIL                       -12.92  -4.79 -87.23
ENGENHARIA DE SOFTWARE                 -10.29 -15.08 -86.01
FILOSOFIA                               -5.62 -13.43 -82.97
GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO -16.55  -6.35 -85.77